<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title></title>
<link href="../css/user-manage-control.css" rel="stylesheet" />

<link href="../css/public.css" rel="stylesheet" />
<link href="../css/font-awesome.min.css" rel="stylesheet" />
<link href="../css/user-manage.css" rel="stylesheet" />
<link rel="stylesheet" href="../datepicker/css/datepicker.css" />
<link href="../css/jquery.pagination.css" rel="stylesheet" />
<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/jquery.pagination.min.js"></script>
<script src="../datepicker/js/plugins/moment.min.js"></script>
<script src="../datepicker/js/datepicker.all.js"></script>
<script src="../js/worker/addWorker.js"></script>
</head>

<body>
	<div id="content">
		<div id="content-nav">
			<span class="name">新增用工</span>
		</div>
		<div id="content-area">
			<div id="user-manage-control">
				<div class="party1 clearFix">
					<div class="base-info">
						<div class="inut-b">
							<span class="name"><i>*</i>姓名</span> <input class="inputValue" />
						</div>
						<div class="inut-b">
							<span class="name"><i>*</i>手机号</span> <input class="inputValue" />
						</div>
						<div class="inut-b">
							<span class="name"><i>*</i>身份证号</span> <input class="inputValue" />
						</div>
						<div class="inut-b">
							<span class="name">出生日期</span> <input class="inputValue"
								type="text" name="USER_AGE" id="USER_AGE"
								placeholder="请填写你的出生日期" />
						</div>
						<div class="inut-b">
							<span class="name"><i>*</i>籍贯</span> <input class="inputValue" />
						</div>
						<div class="inut-b">
							<span class="name">工作年限</span> <input class="inputValue" />
						</div>
						<div class="inut-b">
							<span class="name">婚姻状态</span> <select name=""
								class="selectControl">
								<option value="">结婚</option>
							</select>
						</div>
						<div class="inut-b">
							<span class="name"><i>*</i>擅长工种</span> <input class="inputValue" />
						</div>
						<div class="inut-b">
							<span class="name"><i>*</i>工作地区</span> <input class="inputValue" />
						</div>
						<div class="inut-b">
							<span class="name"><i>*</i>工资要求</span> <input class="inputValue" />
						</div>
						<div class="inut-b">
							<span class="name">工作状态</span> <select name=""
								class="selectControl">
								<option value="">工作状态</option>
							</select>
						</div>
					</div>
					<div class="base-info">
						<div class="inut-b">
							<span class="name">民族</span> <input class="inputValue" />
						</div>
						<div class="inut-b">
							<span class="name"><i>*</i>期望职位</span> <input class="inputValue" />
						</div>
						<div class="inut-b">
							<span class="name"><i>*</i>通讯地址</span> <input class="inputValue" />
						</div>
						<div class="jianjie">
							<span class="name">工作意向</span>
							<textarea class="textarea"></textarea>
						</div>
					</div>

				</div>
				<div class="party2">
					<div class="nav-tip">
						<sapn class="name">学历</sapn>
						<span class="button">添加</span>
					</div>
					<div class="history">
						<span class="delete fa fa-close"></span>
						<ul>
							<li><span class="name">学校类型</span> <span class="content">没有没有</span>
							</li>
							<li><span class="name">所在学校</span> <span class="content">没有没有</span>
							</li>
							<li><span class="name">起止日期</span> <span class="content">没有没有</span>
							</li>
							<li><span class="name">专业名称</span> <span class="content">没有没有</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="party2">
					<div class="nav-tip">
						<sapn class="name">工作经历</sapn>
						<span class="button">添加</span>
					</div>
					<div class="history">
						<span class="delete fa fa-close"></span>
						<ul>
							<li><span class="name">工作公司</span> <span class="content">没有没有</span>
							</li>
							<li><span class="name">起止时间</span> <span class="content">没有没有</span>
							</li>
							<li><span class="name">月工资</span> <span class="content">没有没有</span>
							</li>
							<li><span class="name">工作内容</span> <span class="content">没有没有</span>
							</li>
						</ul>
					</div>
					<div class="history">
						<span class="delete fa fa-close"></span>
						<ul>
							<li><span class="name">工作公司</span> <span class="content">没有没有</span>
							</li>
							<li><span class="name">起止时间</span> <span class="content">没有没有</span>
							</li>
							<li><span class="name">月工资</span> <span class="content">没有没有</span>
							</li>
							<li><span class="name">工作内容</span> <span class="content">上班加上班加上班加上班加上班加上班加上班加上班加上班加上班加上班加上班加上班加上班加上班加上班加上班加上班加上班加上班加上班加上班加上班加上班加班</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="footer-button">
					<span class="qx">取消</span> <span class="qd">完成</span>
				</div>

			</div>
		</div>

	</div>

</body>
</html>