<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link href="../static/css/public.css" rel=stylesheet>
	<link href="../static/css/user-manage-control.css" rel=stylesheet>
	<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.js"></script>
</head>
<body>
	<div id="header">
		<div class="header-content">
			<img class="logo" /><span class="logo-word">国文人力</span>
			<div class="person-info">
				 <span class="name">姓名</span>
			     <span class="login-out">退出</span>
			</div>
			
		</div>
	</div>
	<div id="main">
		<div id="nav">
			<ul>
				<li>
					<div class="f on">用户管理</div>
					<div class="s">
						<div class="s-n">新增用户</div>
						<div class="s-n">详情</div>
						<div class="s-n">编辑</div>
					</div>
				</li>
				<li>
					<div class="f">签约管理</div>
					<div class="s">
						<div class="s-n">新增签约</div>
						<div class="s-n">详情</div>
						<div class="s-n">编辑</div>
					</div>
				</li>
				<li>
					<div class="f">企业管理</div>
					<div class="s">
						<div class="s-n">新增企业</div>
						<div class="s-n">详情</div>
						<div class="s-n">编辑</div>
					</div>
				</li>
				<li>
					<div class="f">外勤员工考核</div>
				</li>
				<li>
					<div class="f">报表管理</div>
				</li>
				<li>
					<div class="f">后台账号管理</div>
					<div class="s">
						<div class="s-n">新增账号</div>
						<div class="s-n">编辑</div>
						<div class="t">
							<div class="t-a">用户组管理</div>
							<div class="t-b">
								<div>权限管理</div>
								<div>成员管理</div>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="f">APP账号管理</div>
					<div class="s">
						<div class="s-n">新增账号</div>
						<div class="s-n">编辑</div>
					</div>
				</li>
				<li>
					<div class="f">工种配置</div>
					<div class="s">
						<div class="s-n">编辑</div>
					</div>
				</li>
			</ul>
		</div>
		<div id="content">
				<div id="content-nav">
					<span class="name">详情</span>
					<span class="control">编辑</span>
				</div>
				<div id="content-area">
					<div id="user-manage-control">
						<div class="party1 clearFix">
							<div class="base-info">
								<div class="inut-b">
									<span class="name">姓名</span>
									<div class="inputValue" ></div>
								</div>
								<div class="inut-b">
									<span class="name">手机号</span>
									<div class="inputValue" ></div>
								</div>
								<div class="inut-b">
									<span class="name">身份证号</span>
									<div class="inputValue" ></div>
								</div>
								<div class="inut-b">
									<span class="name">出生日期</span>
									<div class="inputValue" ></div>
								</div>
								<div class="inut-b">
									<span class="name">籍贯</span>
									<div class="inputValue" ></div>
								</div>
								<div class="inut-b">
									<span class="name">工作年限</span>
									<div class="inputValue" ></div>
								</div>
								<div class="inut-b">
									<span class="name">擅长工种</span>
									<div class="inputValue" ></div>
								</div>
								<div class="inut-b">
									<span class="name">工作地区</span>
									<div class="inputValue" ></div>
								</div>
								<div class="inut-b">
									<span class="name">工资要求</span>
									<div class="inputValue" ></div>
								</div>
								<div class="inut-b">
									<span class="name">工作状态</span>
									<div class="inputValue" ></div>
								</div>
							</div>
							<div class="base-info">
								<div class="inut-b">
									<span class="name">民族</span>
									<div class="inputValue" ></div>
								</div>
								<div class="inut-b">
									<span class="name"><i>*</i>期望职位</span>
									<div class="inputValue" ></div>
								</div>
								<div class="inut-b">
									<span class="name"><i>*</i>通讯地址</span>
									<div class="inputValue" ></div>
								</div>
								<div class="jianjie">
									<span class="name">工作意向</span>
									<div class="textarea"></div>
								</div>
							</div>
							<!-- <div class="jianjie">
								
									<span class="name">简介</span>
									<div class="textarea"></div>
								
							</div> -->
						</div>

						<div class="party2">
							<div class="nav-tip">
								<sapn class="name">学历</sapn>
								<span class="button">添加</span>
							</div>
							<div class="history">
								<span class="delete fa fa-close"></span>
								<ul >
									<li>
										<span class="name">学校类型</span >
										<span class="content">没有没有</span>
									</li>
									<li>
										<span class="name">所在学校</span >
										<span class="content">没有没有</span>
									</li>
									<li>
										<span class="name">起止日期</span >
										<span class="content">没有没有</span>
									</li>
									<li>
										<span class="name">专业名称</span >
										<span class="content">没有没有</span>
									</li>
								</ul>
							</div>
						</div>
						<div class="party2">
							<div class="nav-tip">
								<sapn class="name">工作经历</sapn>
								<span class="button">添加</span>
							</div>
							<div class="history">
								<span class="delete"></span>
								<ul >
									<li>
										<span class="name">工作公司</span >
										<span class="content">没有没有</span>
									</li>
									<li>
										<span class="name">起止时间</span >
										<span class="content">没有没有</span>
									</li>
									<li>
										<span class="name">月工资</span >
										<span class="content">没有没有</span>
									</li>
									<li>
										<span class="name">工作内容</span >
										<span class="content">没有没有</span>
									</li>
								</ul>
							</div>
							<div class="history">
								<span class="delete"></span>
								<ul >
									<li>
										<span class="name">工作公司</span >
										<span class="content">没有没有</span>
									</li>
									<li>
										<span class="name">起止时间</span >
										<span class="content">没有没有</span>
									</li>
									<li>
										<span class="name">月工资</span >
										<span class="content">没有没有</span>
									</li>
									<li>
										<span class="name">工作内容</span >
										<span class="content">没有没有</span>
									</li>
								</ul>
							</div>
						</div>
						<div class="recod-info">
							<span>录入人员：张三</span>
							<span>录入日期：2018-09-09</span>
						</div>
					</div>
				</div>
				
		</div>
	</div>
</body>
</html>