<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>新增需求单</title>
<link href="../css/public.css" rel="stylesheet" />
<link href="../css/font-awesome.min.css" rel="stylesheet" />
<link href="../datepicker/css/datepicker.css" rel="stylesheet"/>
<link href="../css/qiandan-manage-add.css" rel="stylesheet" />
<link href="../css/qiandan-manage-box2.css" rel="stylesheet" />
<link href="../css/jquery.pagination.css" rel="stylesheet" />
<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/jquery.pagination.min.js"></script>
<script src="../js/signing/addDemand.js"></script>
<script src="../datepicker/js/plugins/moment.min.js"></script>
<script src="../datepicker/js/datepicker.all.js"></script>
</head>
<body>
	<div id="content">
		<div id="qiandan-manage-add">
			<div class="public-single-page-nav">
				<span class="title">新增需求单</span>
			</div>
			<div class="qiandan-add-content">
				<div class="input-block">
					<span class="name">企业客户</span> 
					<input placeholder="搜索企业名称" class="" id="companyName" name="companyName"/>
					<input type="hidden" class="" id="companyId" name="companyId"/>
					<div class="lenove-list" id="companyList" style="display: none;">
						<div class="li"  onclick="changCompany(id,name)"></div>
					</div>
					<!-- <select id="companyId">
						<option value="1">1</option>
						<option value="2">2</option>
					</select> -->
				</div>
				<div class="input-block">
					<span class="name">备注说明</span>
					<textarea id="description"></textarea>
				</div>
				<div class="input-block">
					<span class="name">签约用工</span><span class="public-small-bottom" onclick="addJob()"><i class="fa fa-plus"></i>添加用工</span>
				</div>
				<div class="table-area">
					<table cellpadding="0" cellspacing="0">
						<tr>
							<th>用工工种</th>
							<th>用工人数</th>
							<th>到岗日期</th>
							<th>月工资（元）</th>
							<th>工作地区</th>
							<th width="220">用工要求</th>

							<th width="150">操作</th>
						</tr>
					<!--  	<tr class="tr-body">
							<td>水电工</td>
							<td>11</td>
							<td>2018-09-01</td>
							<td>300</td>
							<td>33300</td>
							<td>江苏南京</td>
							<td><span class="des" onclick="editJob(this)">编辑</span><span class="delete" onclick="deleteJob(this)">移除</span></td>
						</tr> -->
					</table>
				</div>
				<div class="control-botton">
					<span class="public-bottom1" onclick="window.history.go(-1)" >取消</span> <span id="add-demand-bottom" class="public-bottom2 on" onclick="addDemand()">完成</span>
				</div>

			</div>
		</div>
    <div id="add-job-dialog" style="display:none;">
		<div id="qiandan-manage-box2">
			<div class="mask"></div>
			<div class="box-content">
				<div class="head"><span class="title">添加用工</span><span class="close fa fa-close" id="close-dialog"></span>
				</div>
				<div class="middle">
					<div class="input-block">
						<span class="name">用工工种</span>
						<select class="se" id="jobType">
							<!--  <option value="1">1</option>-->
						</select>
						<input  id="jobTypeId" type="hidden"/>
						<input  id="jobTypeName" type="hidden"/>
					</div>
					<div class="input-block">
						<span class="name">用工人数</span>
						<input class="pt" id="workerCount"/>
					</div>
					<div class="input-block">
						<span class="name">到岗日期</span>
						<div class="c-datepicker-date-editor c-datepicker-single-editor J-yearMonthPicker-single mt10">
								<input autocomplete="off" type="text" placeholder="选择到岗日期" class="pt c-datepicker-data-input" id="requireTime" name="createTime"/>
						</div>
					</div>
					<div class="input-block">
						<span class="name">月工资&nbsp;&nbsp;&nbsp;&nbsp;</span><input
							class="pt" id="salary"/>
					</div>
					<div class="input-block">
						<span class="name">工作地区</span> 
						<select class="se" id="province">
							<!--  <option value="1">1</option>-->
						</select>
					</div>
					<div class="input-block">
						<span class="name">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> 
						<select class="se" id="workAreaList">
							<!--  <option value="1">1</option>-->
						</select>
						<input  id="workArea" type="hidden"/>
						<input  id="workAreaName" type="hidden"/>
						<input  id="parentCode" type="hidden"/>
					</div>
					<div class="input-block">
						<span class="name">用工要求</span>
						<textarea class="textarea" id="requirement"></textarea>
					</div>
				</div>
				<div class="bottom">
					<span id="public-bottom1" class="public-bottom1 cancel-dialog">取消</span> 
					<span id="public-bottom2" class="public-bottom2 on add-job-type-content">完成</span>
				</div>
			</div>
		</div>
	</div>
	
	</div>
</body>
</html>