spring: 
  application: 
   name: Spring-Boot
  http:
    multipart:
      maxFileSize: 100Mb
      maxRequestSize: 100Mb
  datasource:
    url: jdbc:mysql://47.97.100.29:3306/workersystem_yx?characterEncoding=UTF-8
    username: root
    password: weisihua
    driver-class-name: com.mysql.jdbc.Driver
    initial-size: 5
    max-active: 5
    min-idle: 5
    max-wait: 60000
  aop:
    auto: true #aop支持
  thymeleaf: 
    prefix: classpath:/templates/

logging:
  file: console.log
server:
  port: 8080
  tomcat: 
    uri-encoding: UTF-8
    
mybatis:
  mapper-locations: classpath:mybatis/*Mapper.xml
  
#自定义属性
redis:
  host: 47.97.100.29
  port: 6379
  password: weisihua
  database: 0
  connectionTimeout: 5000
  minIdle: 32
  maxIdle: 64
  maxTotal: 128
  testOnBorrow: true
excel:
  upload:
    path: /opt/excel_import/  #导入excel时，上传到服务器的路径
    
token: 
  secret: yx_guowen_worker_system #token加密secret
    
    