#login .login-area {
  position: fixed;
  left: 50%;
  top: 50%;
  border-radius: 5px;
  background-color: #ffffff;
  width: 600px;
  height: 340px;
  margin-left: -300px;
  margin-top: -170px;
  overflow: hidden; }
  #login .login-area .head-pic {
    width: 190px;
    height: 100%;
    float: left;
    background-color: #eeeeee;
    text-align: center; }
    #login .login-area .head-pic .company-logo {
      padding-top: 100px;
      margin-bottom: 20px; }
      #login .login-area .head-pic .company-logo img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        background-color: #01aaff; }
    #login .login-area .head-pic .company-wd {
      font-size: 20px; }
  #login .login-area .form-info {
    float: left;
    height: 100%;
    width: 350px;
    padding: 30px 25px 0px 25px; }
    #login .login-area .form-info h1 {
      font-size: 18px;
      line-height: 40px; }
    #login .login-area .form-info .input-a {
      height: 40px;
      margin-bottom: 25px; }
      #login .login-area .form-info .input-a input {
        width: 100%;
        height: 100%;
        line-height: 40px;
        border: 1px solid #000000;
        border-radius: 5px;
        text-indent: 5px; }
    #login .login-area .form-info .tip {
      font-size: 12px;
      color: #cccccc;
      line-height: 20px;
      margin-bottom: 20px; }
    #login .login-area .form-info .submit {
      background-color: #01aaff;
      color: #ffffff;
      text-align: center;
      height: 40px;
      line-height: 40px;
      border-radius: 5px;
      cursor: pointer; }
