@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px; }

ul, li {
  list-style: none; }

input, textarea {
  border: none; }

body {
  font-size: 16px;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f8f8; }

input, textarea {
  outline: none; }

/*清除浮动*/
.clearFix {
  *zoom: 1; }

.clearFix:after {
  display: table;
  content: '';
  clear: both; }

#main {
  width: 1200px;
  margin: 0px auto; }

#nav {
  width: 170px;
  float: left;
  background: rgb(45, 58, 75);
  color: rgb(255, 255, 255); }
  #nav ul {
    list-style: none; }
    #nav ul li {
      list-style: none; }
      #nav ul li .f {
        padding-left: 40px;
        height: 40px;
        line-height: 40px;
        cursor: pointer; }
        #nav ul li .f.on, #nav ul li .f:hover {
          background-color: #008bd1;
          color: #FFFFFF; }
      #nav ul li .s .s-n {
        padding-left: 60px;
        line-height: 40px;
        cursor: pointer; }
        #nav ul li .s .s-n.on, #nav ul li .s .s-n:hover {
          background-color: #5595d6;
          color: #FFFFFF; }
      #nav ul li .s .t .t-a {
        padding-left: 60px;
        line-height: 30px;
        cursor: pointer; }
        #nav ul li .s .t .t-a.on, #nav ul li .s .t .t-a:hover {
          background-color: #5595d6;
          color: #FFFFFF; }
      #nav ul li .s .t .t-b {
        padding-left: 70px;
        line-height: 40px;
        cursor: pointer; }
        #nav ul li .s .t .t-b.on, #nav ul li .s .t .t-b:hover {
          background-color: #5595d6;
          color: #FFFFFF; }

#header {
  height: 80px;
  background: #ffffff;
  margin-bottom: 40px;
  border-bottom: 1px solid #eaeaea; }
  #header .header-content {
    width: 1200px;
    height: 80px;
    line-height: 80px;
    margin: 0px auto; }
    #header .header-content .person-info {
      float: right;
      font-weight: bold; }
      #header .header-content .person-info .name {
        margin-right: 30px; }
      #header .header-content .person-info .login-out {
        cursor: pointer; }

#content {
  width: 1000px;
  float: right;
  background: #ffffff;
  min-height: 100px;
  padding-bottom: 50px; }
  #content #content-nav {
    height: 60px;
    line-height: 60px;
    padding: 0px 20px 0px;
    border-bottom: 1px solid #F8F8F8;
    margin-bottom: 20px; }
    #content #content-nav .name {
      font-weight: bold; }
    #content #content-nav .control {
      float: right;
      margin-left: 30px;
      cursor: pointer; }
  #content #content-area {
    padding: 0px 20px 0px; }

#public-fanye {
  height: 34px;
  margin-top: 30px; }
  #public-fanye .f-content {
    float: right; }
  #public-fanye .page {
    margin: 0px !important; }
  #public-fanye .info {
    display: none; }
    #public-fanye .info.f1 {
      display: none; }

#public-bottom1 {
  display: inline-block;
  border-radius: 5px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #313131;
  padding: 0px 30px;
  border: 1px solid #cccccc;
  cursor: pointer; }

#public-bottom2 {
  display: inline-block;
  border-radius: 5px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  background-color: #1E9FFF;
  padding: 0px 30px;
  cursor: pointer; }
