@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px; }

ul, li {
  list-style: none; }

input, textarea {
  border: none; }

body {
  font-size: 12px;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f8f8; }

input,select, textarea {
  background-color:#f8f8f8;
  border:1px solid #dcdfe6;
  border-radius:5px;
  outline: none; }

/*清除浮动*/
.clearFix {
  *zoom: 1; }

.clearFix:after {
  display: table;
  content: '';
  clear: both; }

#main {
  min-width: 1000px;
  padding-left:200px;
  margin: 0px auto; }

#nav {
  float:left;
  margin-left:-200px;
  width: 170px;
  float: left;
  background: #474b4d;
  color: #ffffff; 
    font-size: 14px;
  }
  #nav ul {
    list-style: none; }
    #nav ul li {
      list-style: none; }
      #nav ul li .f {
        padding-left: 40px;
        height: 40px;
        line-height: 40px;
        cursor: pointer; }
        #nav ul li .f.on, #nav ul li .f:hover {
          background-color: #222222;
    color: #ffda00; }
      #nav ul li .s .s-n {
        padding-left: 60px;
        line-height: 40px;
        cursor: pointer; }
        #nav ul li .s .s-n.on, #nav ul li .s .s-n:hover {
          background-color: #222222;
          color: #ffda00; }
      #nav ul li .s .t .t-a {
        padding-left: 60px;
        line-height: 30px;
        cursor: pointer; }
        #nav ul li .s .t .t-a.on, #nav ul li .s .t .t-a:hover {
          background-color: #222222;
    color: #ffda00;}
      #nav ul li .s .t .t-b {
        padding-left: 70px;
        line-height: 40px;
        cursor: pointer; }
        #nav ul li .s .t .t-b.on, #nav ul li .s .t .t-b:hover {
          background-color: #222222;
    color: #ffda00;}

#header {
  height: 80px;
  background: #ffffff;
  margin-bottom:30px;
  border-bottom: 1px solid #eaeaea; }
  #header .header-content {
    width: 1200px;
    height: 80px;
    line-height: 80px;
    margin: 0px auto; }
    #header .header-content .logo{
      width:55px;
      height:55px;
      margin-right: 10px;
      vertical-align: middle;
    }
    #header .header-content .logo-word{
      font-size:25px;
      font-weight:bold;
      font-style:italic;
      color: #381212;
    }
    #header .header-content .person-info {
      float: right;
       }
      #header .header-content .person-info .name {
        font-size: 16px;
        margin-right: 30px; }
      #header .header-content .person-info .login-out {
        cursor: pointer;
        font-size: 16px; }
        #header .header-content .person-info .login-out .fa-sign-out{
          margin-right:5px;
          font-size: 16px;
        }
        #header .header-content .person-info .login-out:hover{
          color:#409eff;
        }

#content {
  width:auto;
  background: #ffffff;
  min-height: 100px;
  padding-bottom: 50px; }
  #content #content-nav {
    height: 60px;
    line-height: 60px;
    padding: 0px 20px 0px;
    border-bottom: 1px solid #d5d5d5;
    margin-bottom: 20px; }
    #content #content-nav .name {
      font-weight: bold; 
      font-size:16px;
    }
    #content #content-nav .control {
      float: right;
      margin-top:13px;
      margin-left: 30px;
      cursor: pointer; }
  #content #content-area {
    padding: 0px 20px 0px; }

#public-fanye, .public-fanye {
  height: 34px;
  margin-top: 30px; }
  #public-fanye .f-content, .public-fanye .f-content {
    float: right; }
    #public-fanye .f-content input, .public-fanye .f-content input {
      height: 24px !important;
      line-height: 24px;
      text-align: center;
      border: 1px solid #c5b7b7; 
      background-color: #ffffff;}
  #public-fanye .page, .public-fanye .page {
    margin: 0px !important; }
  #public-fanye .info, .public-fanye .info {
    display: none; }
    #public-fanye .info.f1, .public-fanye .info.f1 {
      display: none; }

#public-bottom1, .public-bottom1 {
  display: inline-block;
  border-radius: 5px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #313131;
  padding: 0px 30px;
  border: 1px solid #cccccc;
  cursor: pointer; }

#public-bottom2, .public-bottom2 {
  display: inline-block;
  border-radius: 5px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #409eff;
    background: #ecf5ff;
    border:1px solid  #b3d8ff;
  padding: 0px 30px;
  cursor: pointer; }

  #public-bottom2 .fa, .public-bottom2 .fa{
    font-style:normal;
    margin-right:5px;
    vertical-align: middle;
 }

  #public-bottom2:hover,.public-bottom2:hover, #public-bottom2.on,.public-bottom2.on{
    color: #fff;
    background-color: #409eff;
    border-color: #409eff;
  }

.public-small-bottom {
  display: inline-block;
  border-radius: 5px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #409eff;
    background: #ecf5ff;
    border:1px solid  #b3d8ff;
  padding: 0px 15px;
  cursor: pointer;
}
.public-small-bottom.h42{
  height:40px;
  line-height:40px;
}
.public-small-bottom .fa{
   font-style:normal;
   margin-right:5px;
}

  .public-small-bottom:hover,.public-small-bottom.on{
    color: #fff;
    background-color: #409eff;
    border-color: #409eff;
  }

 
/* 每个页面正页的导航 */
  .public-single-page-nav {
  height: 60px;
  line-height: 60px;
  border-bottom:1px solid #dbdbdb;
  padding: 0px 20px; }
  .public-single-page-nav  .title{
    font-size:16px;
    font-weight:bold;
  }
  .public-single-page-nav  .public-small-bottom {
    float: right;
    margin-left: 30px;
    margin-top:13px;
    cursor: pointer; }