#qiandan-manage-box2 .mask {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5; }

#qiandan-manage-box2 .box-content {
  position: fixed;
  left: 50%;
  top: 80px;
  background-color: #ffffff;
  width: 500px;
  margin-left: -250px;
  border-radius: 10px; }
  #qiandan-manage-box2 .box-content .head {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #cccccc;
    padding: 0px 20px; }
    #qiandan-manage-box2 .box-content .head .title{
      font-size: 14px;
      font-weight: bold;
    }
    #qiandan-manage-box2 .box-content .head .fa-close {
      float: right;
      margin-top: 20px;
      font-size: 20px;
      cursor: pointer; }
  #qiandan-manage-box2 .box-content .middle {
    padding: 20px; }
    #qiandan-manage-box2 .box-content .middle .input-block {
      min-height: 40px;
      margin-bottom: 10px;
      font-size: 0px; }
      #qiandan-manage-box2 .box-content .middle .input-block .name {
        margin-right: 20px;
        /* vertical-align: top; */
        font-size: 12px; }
        #qiandan-manage-box2 .box-content .middle .input-block .name.t {
          vertical-align: top; }
      #qiandan-manage-box2 .box-content .middle .input-block .pt, #qiandan-manage-box2 .box-content .middle .input-block .se {
        font-size: 12px;
        height: 30px;
        width: 280px;
         }
         #qiandan-manage-box2 .box-content .middle .input-block  .c-datepicker-date-editor{
           height:32px;
          background-color: #f8f8f8;
           
           
         }
         #qiandan-manage-box2 .box-content .middle .input-block  .c-datepicker-date-editor .c-datepicker-data-input{
          width: 248px;
          background-color: #f8f8f8;
         }
      #qiandan-manage-box2 .box-content .middle .input-block .se option {
        line-height:32px;
        height: 32px; }
      #qiandan-manage-box2 .box-content .middle .input-block .textarea {
        vertical-align: top;
        height: 100px;
        width: 350px;
        line-height: 20px;
        
        background-color: #eeeeee;
        resize: none;
        overflow: auto; }
  #qiandan-manage-box2 .box-content .bottom {
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-top: 1px solid #cccccc; }
    #qiandan-manage-box2 .box-content .bottom span {
      margin: 0px 20px; }
