#user-manage .chaxun {
  background-color: #ecf8ff;
  padding: 20px 20px 5px 20px;
  margin-bottom: 20px; 
  border-radius:5px;
}
  #user-manage .chaxun .select1 {
    height: 40px;
    margin-bottom: 15px; }
    #user-manage .chaxun .select1 input {
      height: 40px;
      line-height: 40px;
      background-color: #ffffff;
      width: 140px;
      border:1px solid #dbdcdd;
      padding-left: 20px;
      border-radius:5px;
      margin-right: 20px;
      vertical-align: top; }
    #user-manage .chaxun .select1 select {
      height: 40px;
      width: 140px;
      text-align: center;
      background-color: #ffffff;
      border: none;
      margin-right: 20px;
      padding-left: 20px; }
  #user-manage .chaxun .select2 {
    height: 40px;
    line-height: 40px;
    margin-bottom:15px;
    
     }
     #user-manage .chaxun .select2  span.n{
       margin-right:5px;
     }
    #user-manage .chaxun .select2 input {

      height: 40px;
      line-height: 40px;
      width: 140px;
      padding-left: 20px;
      margin-right: 20px;
      vertical-align: top; }
      #user-manage .chaxun .select2 .c-datepicker-date-editor{
        height:42px !important;
      }
    #user-manage .chaxun .select2 select {
      border:1px solid #dbdcdd;
      height: 40px;
      width: 160px;
      text-align: center;
      background-color: #ffffff;
      margin-right: 20px;
      padding-left: 20px; }
      #user-manage .chaxun .select2 select option{
        height: 40px;
        line-height: 40px;
      }


#user-manage table {
  width: 100%;
  border-collapse: collapse; }
  #user-manage table tr th {
    text-align: center;
    height: 40px;
    font-weight: normal;
    border: 1px solid #e2e2e2;
    font-size: 14px; }
  #user-manage table tr td {
    text-align: center;
    height: 40px;
    font-weight: normal;
    border: 1px solid #e2e2e2;
    font-size: 12px; }
    #user-manage table tr td .delete, #user-manage table tr td .des {
      margin: 0px 5px;
      cursor: pointer; 
    color: #5595d6;}
