<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link href="../static/css/public.css" rel=stylesheet>
	<link href="../static/css/login.css" rel=stylesheet>
	<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.js"></script>
</head>
<body>
	<div id="login">
		<div class="login-area">
			<div class="head-pic">
				<div class="company-logo"><img src=""/></div>
				<div class="company-wd">国文人力</div>
			</div>
			<div class="form-info">
				<h1>登录</h1>
				<div class="input-a"><input placeholder="请输入用户名" /></div>
				<div class="input-a"><input placeholder="请输入密码" /></div>
				<div class="tip">忘记密码请联系管理人员</div>
				<div class="submit">登录</div>
			</div>
	    </div>
	</div>
</body>
</html>