<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>国文人力</title>
<link href="css/user-manage-box3.css" rel="stylesheet" />
<link href="css/font-awesome.min.css" rel="stylesheet" />
<link href="css/public.css" rel="stylesheet" />
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.js"></script>
</head>
<body>
<div>
	欢迎光临本系统<br/><br/>
	<button id="send">模拟一个请求</button>
</div>

</body>
<script>

$("#send").click(function(){
	$.ajax({
		url:"/user/queryUserInfo",
		type:"get",
		dataType:"json",
		success:function(data){
			console.log(data.data);
		},
		error: function(data){
			alert(data.msg);
		}
	});
});

</script>
</html>