<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>账号管理</title>
	<link href="../static/css/public.css" rel=stylesheet>
	<link href="../static/css/font-awesome.min.css" rel=stylesheet>
	<link href="../static/css/juese-manage-box1.css" rel=stylesheet>
</head>
<body>
	<div id="juese-manage-box1">
		<div class="mask"></div>
		<div class="box-content">
			<div class="head"><span class="title">新增角色</span><span class="close fa fa-close"></span></div>
			<div class="middle">
				<div class="input-block"><span class="name">角色名称</span><input class="pt" /></div>
			</div>
			<div class="bottom">
				<span id="public-bottom1">取消</span>
				<span id="public-bottom2">完成</span>
			</div>
		</div>
	</div>
</body>
</html>